services:


  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.cond:/ro

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
        - "3000:3000"
    env_file:
        - ./frontend/.env
    # depends_on:
    #     - backend

  # backend:
  #   build: ./backend
  #   command: >
  #     sh -c "
  #     python manage.py makemigrations &&
  #     python manage.py migrate &&
  #     python manage.py runserver 0.0.0.0:8000"
  #   volumes:
  #     - ./backend:/app
  #   ports:
  #     - "8000:8000"
  #   depends_on:
  #     - db 

  # db:
  #   image: postgres:latest
  #   restart: always
  #   ports:
  #     - 5432:5432
  #   volumes:
  #     - db-data:/var/lib/postgresql/data
  #   environment:
  #     - POSTGRES_USER=postgres
  #     - POSTGRES_PASSWORD=0000
  #     - POSTGRES_DB=postgres

# volumes:
#   db-data:


