.cake-designer {
  width: 100%;
  margin: 100 auto;
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.tab-button {
  background-color: #ddd;
  border: none;
  padding: 15px 40px;
  cursor: pointer;
  font-size: 15px;
  margin: 7 10px;
  transition: background-color 0.3s ease;
}

.tab-button.active {
  background-color: #c90029;
  margin: 7 10px;
  color: white;
}

.tab-content {
  margin-bottom: 20px;
}

.upload-section {
  margin-bottom: 20px;
}

.uploaded-image img {
  max-width: 100%;
  margin-top: 10px;
}

.generate-section {
  margin-bottom: 230px;
}

.generate-button {
  background-color: #c90029;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.generate-button:hover {
  background-color: #c90029;
}

.generated-image img {
  max-width: 100%;
  margin-top: 20px;
}

.submit-section {
  margin-top: 30px;
}

.submit-button {
  background-color: #c90029;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #b22a44;
}

.generate-section {
  margin-top: 10px;
}

.prompt-container {
  flex-grow: 3;
  margin-left: 10px;
}

.prompt-input {
  width: 50%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
