/* General Page Styling */
.registration-page {
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
  padding: 20px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.search-input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 60%;
}

.profile-icon {
  font-size: 32px;
}

/* Title */
.title {
  font-size: 36px;
  margin-top: 30px;
  font-weight: bold;
}

/* Role Buttons */
.role-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.role-button {
  padding: 10px 30px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin: 0 10px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.role-button.active {
  background-color: #de0030;
  color: white;
}

.role-button:hover {
  background-color: #c90029;
  color: white;
}

/* Form Styling */
.registration-form {
  margin: 20px auto;
  width: 80%;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.submit-button {
  background-color: #de0030;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #c90029;
}
